ws_crazyDev/build/
ws_crazyDev/install/
ws_crazyDev/log/
ws_drones/build/
ws_drones/install/
ws_drones/log/

.catkin_workspace
build/
devel/
install/
log/
recordings/
output_videos/
output_data/


cache/


*__pycache__/