/ws_simu/build/
/ws_simu/install/
/ws_simu/log/
/ws_simu/src/webots_ros2/

/ws_drones/build/
/ws_drones/install/
/ws_drones/log/

/ws_crazyDev/build/
/ws_crazyDev/install/
/ws_crazyDev/log/
ws_drones/build/
ws_drones/install/
ws_drones/log/

*__pycache__/
